*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: black;
}

.left{
    margin-left: 50px;
}

.left img{
    height: 50px;
    width: 100px;
}

.center{
    /* margin-right: 700px; */
}
.center .input{
    text-align: center;
    height: 30px;
    border-radius: 10px;
}
 .center button{
    height: 10px;
    width: 50px;
    padding:10;
    background-color: bisque;
 }

 .header .right img{
     height: 20px;
     width: 3lpx;
 }

